.carousel.swiper {
  --primary-color: #c000fa;
  --swiper-theme-color: var(--primary-color);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: #b6b3c5;
  --swiper-pagination-bottom: 30px;

  padding: 60px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 420px;
  padding: 8px;
  color: white;
  border-radius: 12px;
  border: 4px solid var(--primary-color);
  background-color: #030712;
  overflow: hidden;
  isolation: isolate;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: transform 0.5s ease;
}

.card:hover .card-image {
  transform: scale(1.05);
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 8px;
  width: 100%;
  background-color: rgb(40 5 53 / 78%);
  padding: 16px;
  border-radius: 12px;
}
